<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/Meteo.app</string>
		<key>Architectures</key>
		<array>
			<string>arm64</string>
		</array>
		<key>CFBundleIdentifier</key>
		<string>be.maximuss.meteo</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0.0</string>
		<key>CFBundleVersion</key>
		<string>1.0.0</string>
		<key>SigningIdentity</key>
		<string>Apple Development: jmax1988@hotmail.fr (F9HVF5WJDS)</string>
		<key>Team</key>
		<string>77L25PHQG4</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2023-01-29T21:35:51Z</date>
	<key>Name</key>
	<string>Meteo</string>
	<key>SchemeName</key>
	<string>Meteo</string>
</dict>
</plist>
